.card-member {
    transition: all 0.2s ease-in-out;
}

.card-member:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.1);
}

.generation-group {
    position: relative;
}

.generation-group:not(:last-child)::after {
    content: '';
    display: block;
    width: 2px;
    height: 24px;
    background-color: #cbd5e1;
    margin: 16px auto 0 auto;
}
